form input {
    margin-bottom: 10px;
    border-radius: 2rem;
    height: 2.5rem;
    text-align: center;
    outline: none;
    border-color: var(--color-principal);
    border-width: 3px;
    transition: ease-in 0.2s;
    transition-property: background-color color;
}

form input:hover {
    background-color: var(--color-secundario);
}

form input:focus {
    background-color: var(--color-principal);
    color: white;
}

h1 {
    margin-top: 20px;
}

#boton {
    background-color: var(--color-enfasis);
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-color: white;
    border-radius: 2rem;
    box-shadow: 0 2px 10px 3px lightgrey;
    outline: none;
    transition: ease-in 0.2s;
    transition-property: background-color transform;
}

#boton:hover {
    transform: translate(0, 3px) scale(1.1);
    background-color: #ce4e8e;
}

.container {
    background-color: transparent;
    border: none;
}

#logo {
    width: 150px;
    margin-top: 5vh;
    margin-bottom: 1vh;
    fill:#fff; 
    fill-opacity: 0.5;
    transition: ease-out 0.3s;
    transition-property: fill-opacity;
}

#logo:hover {
    fill-opacity: 1;
}

.credits {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10pt;
    font-weight: 400;
    opacity: 1;
}

.card {
    border-radius: 50px;
}

.tippy-box[data-theme~='temita'] {
    background-color: var(--color-enfasis2);
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    font-family: 'Quicksand', sans-serif !important;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .tippy-box[data-theme~='temita'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--color-enfasis2);
  }