@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --color-principal: #35497D;
  --color-secundario: #809adf;
  --color-enfasis: #c90064;
  --color-enfasis2: #ce4e8e;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 3em;
}

.boton {
  background-color: var(--color-enfasis);
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-color: white;
  border-radius: 2rem;
  outline: none;
  transition: ease-in 0.2s;
  transition-property: background-color transform;
}

.bg-principal{
  background-color: var(--color-principal);
}

.bg-secundario{
  background-color: var(--color-secundario);
}

.jumbotron, .card-body, .container, .site-header{
    font-family: 'Quicksand', sans-serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.swal2-modal {
  border-radius: 50px;
  font-family: 'Quicksand', sans-serif !important;
}

#swal2-icon {
  margin: 0;
}

#swal2-title {
  font-size: 2.5rem;
  padding: .5em 1em 0;
}

.swal2-styled.swal2-confirm {
    background-color: var(--color-enfasis);
    color: white;
    padding: .4em 1em;
    margin-top: 0;
    margin-bottom: .4em;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 2px 10px 3px lightgrey;
    outline: none;
    transition: ease-in 0.2s;
    transition-property: background-color transform;
    font-size: 1.3em;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 2px 10px 3px lightgrey;
}

.swal2-styled.swal2-confirm:hover {
  transform: translate(0, 3px) scale(1.1);
  background-color: var(--color-enfasis2);
}

.swal2-icon.swal2-error{
  border-color: var(--color-enfasis2);
  color: var(--color-enfasis2);
  opacity: 0.8;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"]{
  background-color: var(--color-enfasis2);
  opacity: 0.8;
}

.container[aria-hidden~='true'] {
  filter: blur(10px);
  transition: 0.2s filter linear;
}

h3.precio-articulo {
  margin-top: 3rem;
  font-size: 2rem;
}

h3#product-cost {
  float: right;
  color: var(--color-enfasis2);
  font-weight: 500;
  font-size: 2.5rem;
}

#product-info{
  margin-bottom: 2em;
}

#product-info-left {
  margin-bottom: 2em;
}

h1#nombre-producto {
  margin-top: .5rem;
  color: var(--color-principal);
  font-weight: 900;
}

p#product-description {
  color: #555;
  font-size: 1rem;
}

h1#nombre-producto + hr {
  background-color: var(--color-principal);
  opacity: 0.3;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

a.category-tag {
  text-decoration: none;
}

h5#category-name {
  background-color: transparent;
  color: var(--color-secundario);
  font-size: .9em;
  padding: .3em .6em;
  border-radius: 2em;
  border: solid 1px var(--color-secundario);
  transition: all ease-out 200ms;
}

h5#category-name:hover {
  background-color: var(--color-secundario);
  color: white;
}


.alert-warning {
	color: #fff;
	background-color: #809adf;
	border-color: #809adf;
	border-radius: 10px;
}

div#carouselExampleControls{
  border-radius: 1rem;
  border: none;
  overflow: hidden;
}

#bottom-right .card {
  border-radius: 2em;
}

#articulos-relacionados{
  text-align: center;
}

.related-product {
  overflow: hidden;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
}

.related-product .boton{
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

.related-product h5 {
  color: var(--color-principal);
  font-weight: 800;
  font-size: 1.7rem;
  text-align: center;
}

.related-product .product-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#panel-comentarios{
  padding: 2em;
  background-color: var(--color-principal);
  border-radius: 2em;
  color: #fff
}

#comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
}

#comment-box button{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

#panel-comentarios h3{
  text-align: center;
  font-size: 2rem;
}

#comment-textarea {
  background-color: var(--color-secundario);
  width: 100%;
  border-radius: 2em;
  border: none;
  padding: 1em;
}

#comment-textarea:focus {
  background-color: #fff;
  width: 100%;
  border-radius: 2em;
  border: none;
  padding: 1em;
}

#comment-textarea:focus::placeholder {
  color: transparent;
  text-align: center;
}

#comment-textarea::placeholder {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  opacity: 1;
}

#star-container {
  margin: 1em;
  display: flex;
  flex-direction: row-reverse;
}

#star-container .estrella {
  margin: 2px;
  height: 40px;
  cursor: pointer;
}

#star-container .estrella:hover {
  transform: 
    scale(1.2)
    translateY(-5px);
  transition: all ease-out 200ms;
}

/* .parent a:not(.parent a.active ~ a) */

.estrella:hover ~ .estrella path{
  fill: white;
}

.estrella-vacia-path {
  fill: transparent;
  stroke: #fff;
}

.estrella:hover path{
  fill: #fff;
}

.estrella-completa-path {
  height: 20px;
}

.card.comentario {
  padding: 1em;
  border-radius: 1em;
  color: #000;
}

.card.comentario+.card.comentario{
  margin-top: 2em;
}

.header-comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.panel-comentarios h3{
  margin-bottom: 1em !important;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='-3 -3.5 15 15' %3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
  left: 20%;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='-4 -3.5 15 15'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
  right: 20%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: var(--color-enfasis);
	border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px px rgba(65, 0, 38, 0.7);
  position: absolute;
}